 body {
	padding-top: 60px;
	padding-bottom: 40px;
	background:url('/Images/background-gray.jpg');
	}

.container.service-blazer 
{
	width:992px;
	background:url('/Images/container-bg.png') repeat-y;
	box-shadow:0px 0px 12px #222;
	border-top:6px solid #56544d;
	border-bottom:6px solid #56544d;
	padding:18px 0;
}

.service-sidebar 
{
	padding-left:16px;
}

.service-content 
{
	padding-right:16px;
}

/* issues */

.issue-title 
{
	padding:2px 6px 10px 6px;
	font-size:24px;
	font-weight:bold;
	color:#5b5b5b;
}

.issue-actions 
{
	float:right;
	padding:2px;
}

.issue-actions a 
{
	display:inline-block;
	margin:0 0 0 12px;
}

.issue-header-sub 
{
	background:#e7e7e7;
	margin:0 0 0px 0;
	min-height:22px;
}

.issue-header-sub .display-label
{
	float:left;
	font-weight:bold;
	padding:2px 8px;
	min-height:18px;
}


.issue-header-sub .display-field
{
	float:left;
	padding:2px 8px;
	border-right:1px solid #b5b5b5;
	min-height:18px;
}

.issue-menu-actions 
{
	margin:12px;
	padding:12px;
	width:70%;
}

.issue-menu-actions .btn 
{
	width:100%;
}